*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins;
}

body{
background:#020617;
color:white;
overflow-x:hidden;
}

#particles-js{
position:fixed;
width:100%;
height:100%;
z-index:-1;
}

nav{
display:flex;
justify-content:space-between;
padding:20px 10%;
background:rgba(255,255,255,0.05);
backdrop-filter:blur(10px);
}

nav ul{
display:flex;
gap:30px;
list-style:none;
}

nav a{
color:white;
text-decoration:none;
}

.hero{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.gradient{
font-size:60px;
background:linear-gradient(45deg,#00f2ff,#ff00d4);
-webkit-background-clip:text;
color:transparent;
}

.btn{
background:#00f2ff;
padding:12px 25px;
border-radius:30px;
color:black;
margin:10px;
text-decoration:none;
}

.btn-outline{
border:2px solid #00f2ff;
padding:12px 25px;
border-radius:30px;
color:white;
text-decoration:none;
}

.socials i{
font-size:24px;
margin:10px;
}

section{
padding:80px 10%;
text-align:center;
}

.glass{
background:rgba(255,255,255,0.05);
backdrop-filter:blur(10px);
padding:30px;
border-radius:10px;
}

.skill{
width:60%;
margin:auto;
}

.bar{
background:#111;
height:10px;
margin-bottom:20px;
border-radius:20px;
}

.progress{
height:10px;
border-radius:20px;
background:linear-gradient(45deg,#00f2ff,#ff00d4);
animation:grow 2s forwards;
}

.python{width:90%}
.sql{width:80%}
.js{width:70%}
.data{width:85%}

@keyframes grow{
from{width:0}
}

.project-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.project-card{
background:rgba(255,255,255,0.05);
padding:20px;
border-radius:10px;
cursor:pointer;
transition:0.3s;
}

.project-card:hover{
transform:scale(1.05);
}

#popup{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.7);
justify-content:center;
align-items:center;
}

.popup-content{
background:#111;
padding:30px;
border-radius:10px;
}